$font-family: "Times New Roman", Times, serif;
$color-letra: blue;
$style: #ccc;

.es{
    background-color: $style;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 10%;

    h2{
        font: $font-family;
        color: $color-letra;
    }

}

