.barra_nav {
    margin-top: auto;
}
.relleno{
    background-image: url("Fondo.jpg");
    object-fit: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    padding-bottom: 45%;
}
#centro{
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 35%;
    text-align:center;
    color:rgb(22, 7, 85);
    
}
#relleno2{
    background-image: url("Logo.jpg");
    background-position: center center;
    object-fit: cover;
    width: auto;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    margin-left: 1%;
    padding-bottom: 0% auto;
}
#table{
    height: 45vh;
}
.cuadro{
    background-color: #ccc;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 50%;
    text-align: center;
}